alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
itsdangerous
Jinja2
Mako
numpy
pandas
psycopg2-binary
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
gunicorn
Flask-CORS
pinecone
pinecone-client
sentence-transformers